@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Poppins:wght@300;400;500;600&display=swap');

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  /* 62.5% of the base size of 16px = 10px.*/
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  /* reset 10*1.6 = 16px, to make sure you do not get any 10px around */
}

.AppChild {
  width: 100%;
}

.ChildMenu,
.TopChild,
.ChildDone {
  background: rgb(252, 239, 226);
  padding: 60px 0;
}

.OwnerLogin,
.OwnerRecipe,
.OwnerLoginMain,
.OwnerFamily,
.OwnerRegist,
.OwnerMatchFamily { 
  padding: 60px 0;
  background:rgb(250, 247, 247);
}

h1.logo {
  width: 200px;
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
  font-size: 6rem;
  padding: 0 0 20px 0;
}

h1.logo img{
  width: 100%;
}

/* ChildeMain */
.reviewArea_chMain {
  display: flex;
  flex-wrap: wrap;
  width: 505px;
  margin: 0 auto;
}

/* ChildeMenu */
.nameArea_chMenu {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  margin: 30px auto 0;
}

/* tablet, sp */
@media screen and (max-width: 767px) {
  /* ChildeMain */
  .reviewArea_chMain {
    flex-direction: column;
    width: 100%;
  }

  /* ChildeMenu */
  .nameArea_chMenu {
    flex-direction: column;
    width: 100%;
  }
}
