*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  /* 62.5% of the base size of 16px = 10px.*/
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  /* reset 10*1.6 = 16px, to make sure you do not get any 10px around */
}

.AppChild {
  background: rgb(252, 239, 226);
}