.App-header {
  background-color: #28B0D3;
}

.header {
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.drawer_hidden {
  display: none;
}

.drawer_open {
  display: flex;
  height: 60px;
  width: 60px;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 100;
}

.drawer_open span,
.drawer_open span:before,
.drawer_open span:after {
  content: '';
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background: #fff;
  transition: 0.5s;
  position: absolute;
}

.drawer_open span:before {
  bottom: 8px;
}

.drawer_open span:after {
  top: 8px;
}

#drawer_input:checked~.drawer_open span {
  background: rgba(255, 255, 255, 0);
}

#drawer_input:checked~.drawer_open span::before {
  bottom: 0;
  transform: rotate(45deg);
}

#drawer_input:checked~.drawer_open span::after {
  top: 0;
  transform: rotate(-45deg);
}

.nav_content {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0%;
  right: 100%;
  z-index: 99;
  background: rgb(151, 153, 154, 0.82);
  transition: 1s;
  text-align: center;
  padding-top: 20px;
}

.nav_content .nav_list {
  margin: 60px 0 0 40px;
}

.nav_content .nav_list li {
  text-align: left;
  margin-bottom: 30px;
}

.nav_content .nav_list li a {
  color: #fff;
}

#drawer_input:checked~.nav_content {
  right: 0;
}

.date {
  text-align: center;
  width: 100%;
  text-align: center;
  color: #fff;
}