.button {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.2rem;
}

.TopChild .button {
  background: rgb(42, 176, 211);
  border-radius: 24px;
  width: 322px;
  height: 205.2px;
  font-size: 4.0rem;
  text-align: center;
  color: #fff;
  margin: 0 auto;
}

.TopChild .button a{
  display: block;
  padding: 24% 0;
}

/* OwnerTop */
.btuArea_top {
  display: flex;
  justify-content: space-between;
  margin: 80px auto 0;
  width: 444px;
}

.btuArea_top .button,
.OwnerMatchFamily .button {
  width: 190px;
  height: 60px;
  color: #fff;
  text-align: center;
  border-radius: 8px;
  box-shadow: 2px 4px 6px rgb(0, 0, 0, 0.16);
}

.btuArea_top .button:first-of-type,
.OwnerMatchFamily .button {
  background-color: rgb(42, 176, 211);
}

.OwnerMatchFamily .button {
  font-size: 2.4rem;
  line-height: 60px;
  margin: 0 auto;
}

.btuArea_top .button:last-of-type {
  background-color: rgb(229, 103, 29);
}

.btuArea_top .button a{
  display: block;
  padding: 5% 0;
}

/* OwnerLoginMain */
.navi_owLoginMain {
  width: 400px;
  margin: 0 auto;
}

.navi_owLoginMain p{
  margin: 0 0 30px 0;
  padding: 8px 10px;
  display: flex;
  align-items: center;
  background-color: rgb(42, 176, 211);
  border-radius: 8px;
  box-sizing: border-box;
  box-shadow: 2px 4px 6px rgb(0, 0, 0, 0.16);
}

.navi_owLoginMain p a{
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  display: block;
 }

.navi_owLoginMain p::before {
  margin: 0 10px 0 0;
}

 .navi_owLoginMain p:first-of-type::before {
    content: '';
    display: inline-block;
    width: 90px;
    height: 90px;
    background-image: url(../../images/icon1_owLoginMain.png);
    background-size: contain;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-color: #fff;
    border-radius: 50% 50%;
    background-position: center center;
 }

.navi_owLoginMain p:nth-of-type(2)::before {
      content: '';
      display: inline-block;
      width: 90px;
      height: 90px;
      background-image: url(../../images/icon2_owLoginMain.png);
      background-size: contain;
      vertical-align: middle;
      background-repeat: no-repeat;
      background-color: #fff;
      border-radius: 50% 50%;
      background-position: center center;
    }

.navi_owLoginMain p:last-of-type::before {
  content: '';
  display: inline-block;
  width: 90px;
  height: 90px;
  background-image: url(../../images/icon3_owLoginMain.png);
  background-size: contain;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-color: #fff;
  border-radius: 50% 50%;
  background-position: center center;
}

/* OwnerRecipe */
.reviewArea_owRecipe label button {
  display: block;
  background-color: rgb(42, 176, 211);
  line-height: 40px;
  width: 200px;
  height: 50px;
  font-weight: bold;
  margin: 8px auto 0;
  color: #fff;
  text-align: center;
  border-radius: 8px;
  box-shadow: 2px 4px 6px rgb(0, 0, 0, 0.16);
}

/* ChildeMenu */
.reviewAreaIn_chMain label img {
  margin: 0;
}

.reviewAreaIn_chMain label:first-of-type img{
  margin: 0 15px 0 0;
}

/* ChildeMenu */
.button_chMenu {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(42, 176, 211);
    line-height: 50px;
    width: 200px;
    height: 50px;
    font-weight: bold;
    margin: 20px auto 0;
    color: #fff;
    text-align: center;
    border-radius: 8px;
    box-shadow: 2px 4px 6px rgb(0, 0, 0, 0.16);
}

.button_chMenu label{
  display: block;
}

.gobackBtn_chMenu {
  background-color: rgb(22, 182, 137);
  font-family: 'Montserrat', sans-serif;
  width: 250px;
  height: 50px;
  font-weight: bold;
  padding: 15px 0;
  margin: 50px auto 0;
  color: #fff;
  text-align: center;
  border-radius: 8px;
  box-shadow: 2px 4px 6px rgb(0, 0, 0, 0.16);
}

/* ChildeDone */
.btnArea_chDone {
  display: flex;
  width: 420px;
  margin: 30px auto 0;
}

.btnArea_chDone .button {
  font-family: 'Montserrat', sans-serif;
  line-height: 50px;
  width: 200px;
  height: 50px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  border-radius: 8px;
  box-shadow: 2px 4px 6px rgb(0 0 0 / 16%);
}

.btnArea_chDone .button:first-of-type {
  margin: 0 20px 0 0;
}

.btnArea_chDone .button:first-of-type {
  background-color: rgb(42, 176, 211);
}

.btnArea_chDone .button:last-of-type {
  background-color: rgb(229, 103, 29);
}

/* tablet, sp */
@media screen and (max-width: 767px) {
  /* OwnerTop */
  .btuArea_top {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 60px auto 0;
    width: 100%;
  }

  .btuArea_top .button {
    margin: 0 auto;
  }

  .btuArea_top .button:last-of-type {
    margin: 20px auto 0;
  }

  /* OwnerLoginMain */
  .navi_owLoginMain {
    width: 100%;
    padding: 0 10px;
  }
}
