/* OwnerRecipe */

.formArea_owRecipe,
.formArea_owFamily,
.formArea_owRegist,
.formArea_owLogin,
.formArea_owMatchFamily {
  width: 500px;
}

.formArea_owRecipe {
  margin: 0 auto;
}

.formArea_owFamily,
.formArea_owRegist,
.formArea_owLogin {
  margin: 0 auto 30px;
}

.formArea_owMatchFamily {
  margin: 30px auto 0;
}

.formArea_owRecipe label,
.inputArea_owFamily label,
.inputArea_owRegist label,
.formArea_owLogin label,
.inputArea_owMatchFamily label {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.0rem;
  padding: 0 20px 0 0;
}

.formArea_owRecipe label span,
.inputArea_owFamily label span,
.inputArea_owRegist label span,
.formArea_owLogin label span{
  font-size: 1.6rem;
  color: #ff0000;
}

.formArea_owRecipe input[type=text],
.inputArea_owFamily input[type=text],
.inputArea_owRegist input[type=text],
.formArea_owLogin input[type=email],
.formArea_owLogin input[type=password],
.inputArea_owRegist input[type=email],
.inputArea_owRegist input[type=password],
.inputArea_owRegist input[type=number],
.inputArea_owMatchFamily input[type=number]{
  width: 100%;
  margin: 10px 0 30px;
  padding: 10px;
  height: 50px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 2px 4px 6px rgb(0, 0, 0, 0.16);
  display: block;
}

.formArea_owRecipe button,
.formArea_owFamily button,
.formArea_owRegist button,
.formArea_owLogin button,
.formArea_owMatchFamily button {
  background: rgb(229, 103, 29);
  font-family: 'Montserrat', sans-serif;
  width: 120px;
  font-size: 2rem;
  text-align: center;
  color: #fff;
  border-radius: 8px;
  padding: 15px;
  display: block;
  margin: 50px auto 0;
}

.inputArea_owRegist:first-of-type,
.inputArea_owLogin:first-of-type {
  margin: 0 0 20px 0;
}

/* OwnerLogin */
.inputArea_owRegist {
  margin: 0 0 20px 0;
}

/* ChildMain */
.reviewAreaIn_chMain {
  text-align: center;
  background-color: #fff;
  border-radius:8px;
  padding: 10px;
  margin: 0 auto 20px auto;
}

.reviewAreaIn_chMain:nth-of-type(2n) {
  margin-left: 20px;
}

.reviewAreaIn_chMain form label {
  display: inline-block;
}

.reviewArea_chMainIn form label:first-of-type {
  margin: 0 60px 0 0;
}

/* tablet, sp */
@media screen and (max-width: 767px) {
  .formArea_owRecipe,
  .formArea_owFamily,
  .formArea_owRegist,
  .formArea_owLogin,
  .formArea_owMatchFamily {
    width: 100%;
    padding: 0 10px;
  }
}
