.mainVisual {
  margin: 40px auto;
  text-align: center;

}
.mainVisual img {
  width: 360px;
  text-align: center;
}

/* Owner Top */
.image_top{
  width: 460px;
  height: 460px;
  margin: 0 auto;
  text-align: center;
  background: #fff;
  border-radius: 50% 50%;
}

.image_top img{
  width: 360px;
  padding: 10% 0;
}

/* OwnerRecipe */
.OwnerRecipe img {
  display: block;
  width: 500px;
  margin: 0 auto 50px;
}

/* tablet, sp */
@media screen and (max-width: 767px) {
  /* Owner Top */
  .image_top{
    width: 375px;
    height: 375px;
  }

  .image_top img{
    width: 300px;
  }

  /* OwnerRecipe */
  .OwnerRecipe img {
    width: 100%;
  }
}
