.TopChild .logo {
  text-align: center;
  font-size: 6rem;
}

/* OwnerRecipe */
.textArea_owRecipe {
  margin: 40px 0 20px;
  text-align: center;
  line-height: 1.5;
}

.reviewAreaIn_owRecipe label {
  font-family: 'Montserrat', sans-serif;
}

.reviewArea_owRecipe {
  display: flex;
  flex-wrap: wrap;
  width: 460px;
  margin: 0 auto;
}

.reviewAreaIn_owRecipe {
  text-align: center;
  margin: 0 0 30px 0;
  width: 200px;
}

.reviewAreaIn_owRecipe:nth-of-type(2n) {
  margin: 0 0 0 20px;
}

.reviewAreaIn_owRecipe p {
  font-size: 2.4rem;
  font-family: 'Montserrat', sans-serif;
  margin: 0 0 10px 0;
}
/* OwnerLoginMain */
.text_owLoginMain{
  margin: 0 0 40px 0;
}

.text_owLoginMain h2 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 3.2rem;
}

/* OwnerFamily */
.OwnerFamily h2,
.OwnerLogin h2,
.OwnerRegist h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.2rem;
  font-weight: bold;
  margin: 0 0 40px 0;
  text-align: center;
}

.nameArea_owFamily {
  width: 460px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.nameAreaIn_owFamily {
  width: 210px;
}

.nameAreaIn_owFamily:nth-child(2n) {
  margin-left: 10px;
}

.nameAreaIn_owFamily p{
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.4rem;
  margin: 0 0 20px 0;
}


/* ChildMain */
.TopChild h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 3.2rem;
  text-align: center;
}

.text_chMain {
  text-align: center;
  font-size: 1.8rem;
  margin: 0 0 30px 0;
}

.reviewAreaIn_chMain p {
  font-family: 'Poppins', sans-serif;
  font-size: 2.4rem;
  margin: 0 0 5px 0;
}

/* ChildeMenu */
.text_chMenu {
  text-align: center;
  font-size: 1.8rem;
}

/* ChildeDone */
.text_chDone {
  text-align: center;
  line-height: 1.5;
  font-size: 1.8rem;
}

/* tablet, sp */
@media screen and (max-width: 767px) {
  .nameArea_owFamily {
    width: 100%;
    padding: 0 20px;
    justify-content: center;
  }

  .nameAreaIn_owFamily:nth-child(2n) {
    margin-left: 0;
  }

  .reviewArea_owRecipe {
    width: 100%;
    padding: 0 10px;
    justify-content: center;
  }

  .reviewAreaIn_owRecipe:nth-of-type(2n) {
    margin: 0 0 30px 0;
  }
}
