.TopChild .logo {
  text-align: center;
  font-size: 6rem;
}

/* OwnerRecipe */
.textArea_owRecipe {
  margin: 40px 0;
  text-align: center;
  line-height: 1.5;
}

/* OwnerLoginMain */
.text_owLoginMain{
  margin: 0 0 40px 0;
}

.text_owLoginMain h2 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 3.2rem;
}

/* OwnerFamily */
.OwnerFamily h2,
.OwnerLogin h2,
.OwnerRegist h2 {
  font-family: 'Montserrat', sans-serif;
  /* font-size: 2.4rem; */
  font-size: 3.2rem;
  font-weight: bold;
  margin: 0 0 40px 0;
  text-align: center;
}
